<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styles.css" />
    <title>Template</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Gaegu&display=swap"
      rel="stylesheet"
    />
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Header</h1>
        <nav>
          <a href="">link 1</a>
          <a href="">link 2</a>
          <a href="">link 3</a>
        </nav>
      </header>
      <main>
        <h2>Main</h2>
        <aside>
          <h2>Aside</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id,
            repellat perspiciatis? Explicabo assumenda atque ab molestiae veniam
            praesentium voluptatibus perspiciatis, eum harum inventore quos,
            necessitatibus sint, velit debitis ex eveniet!
          </p>
          <img
            src="images/D1_soto_Barbra-9255.jpg"
            alt="leaf shadows"
            class="fifty"
          />
        </aside>
        <figure>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            minima et beatae aliquid aspernatur. Ratione officiis eum beatae,
            repellat excepturi necessitatibus, minima ullam ab reprehenderit
            delectus nulla non explicabo. Qui!
          </p>
          <img
            src="images/D1_soto_Barbra-9249.jpg"
            alt="window reflection"
            class="eighty"
          />
        </figure>
      </main>
      <footer>
        <p></p>
      </footer>
    </div>
  </body>
</html>
