body {
  background-color: rgb(0, 0, 0);
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
}
.container {
  width: 80%;
  margin: 10px auto;
  background-color: rgb(101, 158, 47);
  padding: 30px;
}

img {
  width: 350px;
}

h1,
h2 {
  color: rgb(0, 0, 0);
  font-weight: bolder;
  text-align: center;
}

ul {
  text-decoration: none;
  margin-right: 30%;
  list-style-type: "\2605";
  border-image: auto;
}

ul a {
  text-decoration: none;
  line-height: 1.5;
  font-size: large;
}

nav {
  text-align: center;
}

nav a {
  margin-left: 30px;
  color: rgb(242, 247, 173);
  text-decoration: none;
  padding: 10px 15px;
  line-height: 3;
  background-color: cadetblue;
  border-radius: 20px;
  border: 2px cadetblue;
}

nav a:hover {
  color: cornflowerblue;
  background: none;
}

.left {
  float: left;
  margin: 10px;
}

img {
  float: bottom;
  padding: 30px;
  overflow: auto;
  width: 40%;
}

dd {
  text-align: left;
}
